/* Estilo general del contenedor */
.home-container {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(145deg, #f6d365, #fda085);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Título */
.home-container h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Lista de dinosaurios */
.dinosaur-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Tarjeta de dinosaurio */
.dinosaur-card {
  flex: 1 1 calc(33.333% - 20px);
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  border: 2px solid #2c3e50;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Animación al pasar el cursor sobre la tarjeta */
.dinosaur-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

/* Imagen de dinosaurio */
.dinosaur-image {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  transition: transform 0.3s ease;
}

.dinosaur-card:hover .dinosaur-image {
  transform: scale(1.1);
}

/* Información del dinosaurio */
.dinosaur-card h3 {
  font-size: 1.5em;
  color: #34495e;
  margin: 15px 0 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.dinosaur-card p {
  color: #34495e;
  font-style: italic;
  margin: 0 10px 10px;
}

/* Botón de comprar */
.dinosaur-card button {
  background: linear-gradient(45deg, #28a745, #218838);
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.3s ease;
}

.dinosaur-card button:disabled {
  background: #d9534f;
  cursor: not-allowed;
}

.dinosaur-card button:hover:enabled {
  background: linear-gradient(45deg, #218838, #28a745);
  transform: translateY(-2px);
}
